<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Sail University" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: "public/nav", locals: { navigation: @public } %>
    <%= render "layouts/alerts" %>
    <%# <%= render 'cookies_eu/consent_banner'%> %>
    <%= yield %>
    <%= render partial: "public/footer", locals: { navigation: @public } %>
  </body>
</html>
